<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<!-- NAVIGATION -->
<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li class="active"><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/store(category=${'All'})}">All Categories</a></li>
                <li><a th:href="@{/store(category=${'Laptops'})}">Laptops</a></li>
                <li><a th:href="@{/store(category=${'Smartphones'})}">Smartphones</a></li>
                <li><a th:href="@{/store(category=${'Cameras'})}">Cameras</a></li>
                <li><a th:href="@{/store(category=${'Accessories'})}">Accessories</a></li>
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<!-- /NAVIGATION -->
</body>
</html>