
<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: head"></head>

<body class="bg-light">

<th:block th:if="${error}">
    <div th:replace="fragments/header :: alert"></div>
</th:block>

<div th:replace="fragments/header :: header"></div>

<div class="d-flex">
    <div th:replace="fragments/sidebar :: sidebar"></div>

    <div class="content p-4">
        <div class="text-center mb-4">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Responsive -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-4097235499795154"
                 data-ad-slot="5211442851"
                 data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>

        <h2 class="mb-4">Forms</h2>

        <div class="card mb-4">
            <div class="card-header bg-white font-weight-bold">
                Product Form
            </div>
            <div class="card-body">
                <form th:action="@{/product}" method="post" th:object="${product}" enctype="multipart/form-data">
                    <input th:type="hidden" th:field="*{id}">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" th:field="*{name}" class="form-control"  placeholder="Enter name">
                        <small id="nameError" class="form-text text-error"
                               th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Validation error</small>
                    </div>
                    <div class="form-group">
                        <label for="cost">Cost</label>
                        <input type="number" id="cost" th:field="*{cost}" class="form-control"  placeholder="Enter product cost">
                    </div>
                    <div class="form-group">
                        <label for="brands">Brand</label>
                        <select class="form-control" id="brands" th:field="*{brand}" required>
                            <option th:each="brand : ${brands}"
                                    th:text="${brand.name}"
                                    th:value="${brand.id}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="category">Category</label>
                        <select class="form-control" id="category" th:field="*{category}" required>
                            <option th:each="cat : ${categories}"
                                    th:text="${cat.name}"
                                    th:value="${cat.id}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="newPictures">Product image</label>
                        <input th:field="*{newPictures}" type="file" class="form-control" id="newPictures"
                               placeholder="Upload new product picture" multiple>
                    </div>
                    <div class="card-footer bg-white">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
                <div class="container-fluid mb-4">
                    <div class="card-columns" style="column-count: 5">
                        <div class="card" th:each="pict : ${product.pictures}">
                            <div class="card-header">Picture</div>
                            <img class="card-img-bottom" th:src="@{/picture/{pictureId}(pictureId=${pict.id})}"
                                 width="40%"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:replace="fragments/footer :: scripts"></script>

</body>
</html>